.header{
    color: white;
}

h3 {
    display:inline-block;
    padding-right: 25px;
    padding-top: 10px;
    
    background-color: antiquewhite;
    border-left: 5px solid blue;
    border-radius: 10px;
    max-width:600px;
    word-wrap:break-word;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

table, td {  
    border-collapse: collapse;
}    

table, td, th {  
    text-align: left;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: orange;
    color: white;
}
    
tr:nth-child(even){
    background-color: lightgray
}

tr {
    background-color: aliceblue  
}

th, td {
    padding: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6495ed;
    
    
}

* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container textarea[type=text], .form-container textarea[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the add comment button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the close button */
.form-container .cancel {
    background-color: red;
}

/* Add a neon green background color to the "add comment" button */
.open-button {
    background-color: #008000;
    border-radius: 25px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


.backbutton{
    background:linear-gradient(to bottom, #7345c7 5%, #8f2db5 100%);
	background-color:#7345c7;
	border-radius:25px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    
}

.backbutton:hover {
	background-color:blue;
}